In [28]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from pathlib import Path

#1. Qatar Airways

In [29]:
def scrape_page_QA(page_number):
    url = f'https://www.airlinequality.com/airline-reviews/qatar-airways/page/{page_number}/'
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    reviews = []
    for review_block in soup.find_all('article', itemprop='review'):  # use the full review container
        name_tag = review_block.find('span', itemprop='name')
        date_tag = review_block.find('time', itemprop='datePublished')
        text_content_div = review_block.find('div', class_='text_content')
        rating_tag = review_block.find('span', itemprop='ratingValue')

        # Extract review details with error handling
        name = name_tag.text.strip() if name_tag else 'N/A'
        date_published = date_tag['datetime'] if date_tag else 'N/A'
        text_content = text_content_div.text.strip() if text_content_div else 'N/A'
        rating = rating_tag.get_text(strip=True) if rating_tag else 'N/A'

        # Append extracted data to the list
        reviews.append({
            'Name': name,
            'Date Published': date_published,
            'Text Content': text_content,
            'Rating': rating
        })

    return reviews

In [30]:
# Main loop to scrape multiple pages and track progress
qatar_airways_reviews = []
total_pages = 264
for page_number in range(1, total_pages + 1):
    page_reviews = scrape_page_QA(page_number)
    qatar_airways_reviews.extend(page_reviews)

    # Print progress message
    if page_number % 10 == 0:
        print(f"{page_number} pages extraction completed")

10 pages extraction completed
20 pages extraction completed
30 pages extraction completed
40 pages extraction completed
50 pages extraction completed
60 pages extraction completed
70 pages extraction completed
80 pages extraction completed
90 pages extraction completed
100 pages extraction completed
110 pages extraction completed
120 pages extraction completed
130 pages extraction completed
140 pages extraction completed
150 pages extraction completed
160 pages extraction completed
170 pages extraction completed
180 pages extraction completed
190 pages extraction completed
200 pages extraction completed
210 pages extraction completed
220 pages extraction completed
230 pages extraction completed
240 pages extraction completed
250 pages extraction completed
260 pages extraction completed

In [31]:
qatar_airways_reviews_df = pd.DataFrame(qatar_airways_reviews)

In [32]:
qatar_airways_reviews_df.sample(5)

,Name,Date Published,Text Content,Rating
702,Naeem Alzidi,2022-04-21,✅ Trip Verified | The service was good and th...,10
1564,Anders Pedersen,2017-10-03,✅ Verified Review | Copenhagen to Ho Chi Minh...,8
1927,Patricia McGurk,2016-04-08,✅ Verified Review | We were due to travel fro...,2
2306,M Khan,2015-01-19,Manchester-Doha sector.–While boarding had to ...,8
2114,Sally Hirshfield,2015-09-04,This was the second leg of a flight from Madri...,10

In [33]:
qatar_airways_reviews_df.shape

(2638, 4)

#2. Singapore Airlines

In [34]:
def scrape_page_SQ(page_number):
    url = f'https://www.airlinequality.com/airline-reviews/singapore-airlines/page/{page_number}/'
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    reviews = []
    for review_block in soup.find_all('article', itemprop='review'):  # use the full review container
        name_tag = review_block.find('span', itemprop='name')
        date_tag = review_block.find('time', itemprop='datePublished')
        text_content_div = review_block.find('div', class_='text_content')
        rating_tag = review_block.find('span', itemprop='ratingValue')

        # Extract review details with error handling
        name = name_tag.text.strip() if name_tag else 'N/A'
        date_published = date_tag['datetime'] if date_tag else 'N/A'
        text_content = text_content_div.text.strip() if text_content_div else 'N/A'
        rating = rating_tag.get_text(strip=True) if rating_tag else 'N/A'

        # Append extracted data to the list
        reviews.append({
            'Name': name,
            'Date Published': date_published,
            'Text Content': text_content,
            'Rating': rating
        })

    return reviews

In [35]:
singapore_airlines_reviews = []
total_pages = 167
for page_number in range(1, total_pages + 1):
    page_reviews = scrape_page_SQ(page_number)
    singapore_airlines_reviews.extend(page_reviews)

    # Print progress message
    if page_number % 10 == 0:
        print(f"{page_number} pages extraction completed")

10 pages extraction completed
20 pages extraction completed
30 pages extraction completed
40 pages extraction completed
50 pages extraction completed
60 pages extraction completed
70 pages extraction completed
80 pages extraction completed
90 pages extraction completed
100 pages extraction completed
110 pages extraction completed
120 pages extraction completed
130 pages extraction completed
140 pages extraction completed
150 pages extraction completed
160 pages extraction completed

In [36]:
singapore_airlines_reviews_df = pd.DataFrame(singapore_airlines_reviews)

In [37]:
singapore_airlines_reviews_df.sample(5)

,Name,Date Published,Text Content,Rating
906,I Lamakatan,2017-06-30,"✅ Verified Review | Singapore to Beijing, fli...",9
1209,Azri Azmi,2015-10-06,I flew Singapore Airlines Boeing 777 from Sing...,6
645,P Rachitra,2019-02-27,✅ Trip Verified | San Francisco to Bangalore ...,3
369,R Martashan,2022-04-05,✅ Trip Verified | Flew today 5th April 2022 o...,10
1350,Krish Mohan,2014-12-10,SQ 15 - Sep 29. SQ402 - Oct 1. SQ5357 Oct 24. ...,9

In [38]:
singapore_airlines_reviews_df.shape

(1670, 4)

#3. Cathay Pacific Airways

In [39]:
def scrape_page_CP(page_number):
    url = f'https://www.airlinequality.com/airline-reviews/cathay-pacific-airways/page/{page_number}/'
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    reviews = []
    for review_block in soup.find_all('article', itemprop='review'):  # use the full review container
        name_tag = review_block.find('span', itemprop='name')
        date_tag = review_block.find('time', itemprop='datePublished')
        text_content_div = review_block.find('div', class_='text_content')
        rating_tag = review_block.find('span', itemprop='ratingValue')

        # Extract review details with error handling
        name = name_tag.text.strip() if name_tag else 'N/A'
        date_published = date_tag['datetime'] if date_tag else 'N/A'
        text_content = text_content_div.text.strip() if text_content_div else 'N/A'
        rating = rating_tag.get_text(strip=True) if rating_tag else 'N/A'

        # Append extracted data to the list
        reviews.append({
            'Name': name,
            'Date Published': date_published,
            'Text Content': text_content,
            'Rating': rating
        })

    return reviews

In [40]:
cathay_pacific_airways_reviews = []
total_pages = 151
for page_number in range(1, total_pages + 1):
    page_reviews = scrape_page_CP(page_number)
    cathay_pacific_airways_reviews.extend(page_reviews)

    # Print progress message
    if page_number % 10 == 0:
        print(f"{page_number} pages extraction completed")

10 pages extraction completed
20 pages extraction completed
30 pages extraction completed
40 pages extraction completed
50 pages extraction completed
60 pages extraction completed
70 pages extraction completed
80 pages extraction completed
90 pages extraction completed
100 pages extraction completed
110 pages extraction completed
120 pages extraction completed
130 pages extraction completed
140 pages extraction completed
150 pages extraction completed

In [41]:
cathay_pacific_airways_reviews_df = pd.DataFrame(cathay_pacific_airways_reviews)

In [42]:
cathay_pacific_airways_reviews_df.sample(5)

,Name,Date Published,Text Content,Rating
124,Francis Wong,2023-03-30,✅ Trip Verified | After almost 8 years of not ...,8
962,Jennifer Bentley,2015-10-30,London to Auckland via Hong Kong. Excellent se...,9
650,W Patavik,2017-05-19,✅ Verified Review | Vancouver to Bangkok via ...,10
142,Joash Fang,2023-02-13,✅ Trip Verified | Cathay Pacific's Premium Ec...,5
741,Melanie Pemberton,2016-10-23,✅ Verified Review | Manchester to Sydney via ...,9

In [43]:
cathay_pacific_airways_reviews_df.shape

(1508, 4)

#4. Emirates

In [44]:
def scrape_page_EM(page_number):
    url = f'https://www.airlinequality.com/airline-reviews/emirates/page/{page_number}/'
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    reviews = []
    for review_block in soup.find_all('article', itemprop='review'):  # use the full review container
        name_tag = review_block.find('span', itemprop='name')
        date_tag = review_block.find('time', itemprop='datePublished')
        text_content_div = review_block.find('div', class_='text_content')
        rating_tag = review_block.find('span', itemprop='ratingValue')

        # Extract review details with error handling
        name = name_tag.text.strip() if name_tag else 'N/A'
        date_published = date_tag['datetime'] if date_tag else 'N/A'
        text_content = text_content_div.text.strip() if text_content_div else 'N/A'
        rating = rating_tag.get_text(strip=True) if rating_tag else 'N/A'

        # Append extracted data to the list
        reviews.append({
            'Name': name,
            'Date Published': date_published,
            'Text Content': text_content,
            'Rating': rating
        })

    return reviews

In [45]:
emirates_reviews = []
total_pages = 247
for page_number in range(1, total_pages + 1):
    page_reviews = scrape_page_EM(page_number)
    emirates_reviews.extend(page_reviews)

    # Print progress message
    if page_number % 10 == 0:
        print(f"{page_number} pages extraction completed")

10 pages extraction completed
20 pages extraction completed
30 pages extraction completed
40 pages extraction completed
50 pages extraction completed
60 pages extraction completed
70 pages extraction completed
80 pages extraction completed
90 pages extraction completed
100 pages extraction completed
110 pages extraction completed
120 pages extraction completed
130 pages extraction completed
140 pages extraction completed
150 pages extraction completed
160 pages extraction completed
170 pages extraction completed
180 pages extraction completed
190 pages extraction completed
200 pages extraction completed
210 pages extraction completed
220 pages extraction completed
230 pages extraction completed
240 pages extraction completed

In [46]:
emirates_reviews_df = pd.DataFrame(emirates_reviews)

In [47]:
emirates_reviews_df.sample(5)

,Name,Date Published,Text Content,Rating
307,T Barden,2022-08-08,"✅ Trip Verified | Emirates not to blame, but ...",9
993,D Sharish,2018-02-25,✅ Trip Verified | The crew on Emirates are su...,8
85,H Madasan,2024-07-04,✅ Trip Verified | I have always been flying i...,3
1102,Rachelle Saker,2017-11-08,✅ Verified Review | Barcelona to Melbourne vi...,4
822,Allan Gathercoal,2018-11-04,✅ Trip Verified | Seattle to Dubai. This was ...,5

In [48]:
emirates_reviews_df.shape

(2464, 4)

#5.ANA All Nippon Airways

In [49]:
def scrape_page_ANA(page_number):
    url = f'https://www.airlinequality.com/airline-reviews/ana-all-nippon-airways/page/{page_number}/'
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    reviews = []
    for review_block in soup.find_all('article', itemprop='review'):  # use the full review container
        name_tag = review_block.find('span', itemprop='name')
        date_tag = review_block.find('time', itemprop='datePublished')
        text_content_div = review_block.find('div', class_='text_content')
        rating_tag = review_block.find('span', itemprop='ratingValue')

        # Extract review details with error handling
        name = name_tag.text.strip() if name_tag else 'N/A'
        date_published = date_tag['datetime'] if date_tag else 'N/A'
        text_content = text_content_div.text.strip() if text_content_div else 'N/A'
        rating = rating_tag.get_text(strip=True) if rating_tag else 'N/A'

        # Append extracted data to the list
        reviews.append({
            'Name': name,
            'Date Published': date_published,
            'Text Content': text_content,
            'Rating': rating
        })

    return reviews

In [50]:
ANA_reviews = []
total_pages = 62
for page_number in range(1, total_pages + 1):
    page_reviews = scrape_page_ANA(page_number)
    ANA_reviews.extend(page_reviews)

    # Print progress message
    if page_number % 10 == 0:
        print(f"{page_number} pages extraction completed")

10 pages extraction completed
20 pages extraction completed
30 pages extraction completed
40 pages extraction completed
50 pages extraction completed
60 pages extraction completed

In [51]:
ANA_reviews_df = pd.DataFrame(ANA_reviews)

In [52]:
ANA_reviews_df.sample(5)

,Name,Date Published,Text Content,Rating
173,Suryaputra Wijaksana,2018-07-30,Not Verified | Jakarta to Tokyo Haneda. This ...,8
278,H Tennant,2016-11-15,✅ Verified Review | Tokyo Haneda to Osaka Itam...,10
121,A Kirk,2019-10-30,✅ Trip Verified | I had a domestic flight fro...,1
453,B Duston,2014-01-28,Recently took a flight from Bangkok-Tokyo-JFK....,10
305,Larry Kopp,2016-03-14,We flew ANA from Chicago to Singapore via Toky...,10

In [53]:
ANA_reviews_df.shape

(620, 4)

#6. Turkish Airlines

In [54]:
def scrape_page_Turk(page_number):
    url = f'https://www.airlinequality.com/airline-reviews/turkish-airlines/page/{page_number}/'
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    reviews = []
    for review_block in soup.find_all('article', itemprop='review'):  # use the full review container
        name_tag = review_block.find('span', itemprop='name')
        date_tag = review_block.find('time', itemprop='datePublished')
        text_content_div = review_block.find('div', class_='text_content')
        rating_tag = review_block.find('span', itemprop='ratingValue')

        # Extract review details with error handling
        name = name_tag.text.strip() if name_tag else 'N/A'
        date_published = date_tag['datetime'] if date_tag else 'N/A'
        text_content = text_content_div.text.strip() if text_content_div else 'N/A'
        rating = rating_tag.get_text(strip=True) if rating_tag else 'N/A'

        # Append extracted data to the list
        reviews.append({
            'Name': name,
            'Date Published': date_published,
            'Text Content': text_content,
            'Rating': rating
        })

    return reviews

In [55]:
turkish_airlines_reviews = []
total_pages = 280
for page_number in range(1, total_pages + 1):
    page_reviews = scrape_page_Turk(page_number)
    turkish_airlines_reviews.extend(page_reviews)

    # Print progress message
    if page_number % 10 == 0:
        print(f"{page_number} pages extraction completed")

10 pages extraction completed
20 pages extraction completed
30 pages extraction completed
40 pages extraction completed
50 pages extraction completed
60 pages extraction completed
70 pages extraction completed
80 pages extraction completed
90 pages extraction completed
100 pages extraction completed
110 pages extraction completed
120 pages extraction completed
130 pages extraction completed
140 pages extraction completed
150 pages extraction completed
160 pages extraction completed
170 pages extraction completed
180 pages extraction completed
190 pages extraction completed
200 pages extraction completed
210 pages extraction completed
220 pages extraction completed
230 pages extraction completed
240 pages extraction completed
250 pages extraction completed
260 pages extraction completed
270 pages extraction completed
280 pages extraction completed

In [56]:
turkish_airlines_reviews_df = pd.DataFrame(turkish_airlines_reviews)

In [57]:
turkish_airlines_reviews_df.sample(5)

,Name,Date Published,Text Content,Rating
428,Charel Trierweiler,2023-09-02,✅ Trip Verified | Incompetent and disrespectf...,1
368,Ralf Kollmann,2023-10-27,Not Verified | I cannot understand all compla...,10
576,P Shayaran,2022-10-05,✅ Trip Verified | My flight was scheduled on ...,1
950,E Marroul,2021-02-06,✅ Trip Verified | I'm a frequent traveler wit...,2
1315,M Shaw,2019-05-05,✅ Trip Verified | Istanbul to Budapest via Dub...,2

In [58]:
turkish_airlines_reviews_df.shape

(2800, 4)

#7. Korean Air

In [59]:
def scrape_page_KA(page_number):
    url = f'https://www.airlinequality.com/airline-reviews/korean-air/page/{page_number}/'
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    reviews = []
    for review_block in soup.find_all('article', itemprop='review'):  # use the full review container
        name_tag = review_block.find('span', itemprop='name')
        date_tag = review_block.find('time', itemprop='datePublished')
        text_content_div = review_block.find('div', class_='text_content')
        rating_tag = review_block.find('span', itemprop='ratingValue')

        # Extract review details with error handling
        name = name_tag.text.strip() if name_tag else 'N/A'
        date_published = date_tag['datetime'] if date_tag else 'N/A'
        text_content = text_content_div.text.strip() if text_content_div else 'N/A'
        rating = rating_tag.get_text(strip=True) if rating_tag else 'N/A'

        # Append extracted data to the list
        reviews.append({
            'Name': name,
            'Date Published': date_published,
            'Text Content': text_content,
            'Rating': rating
        })

    return reviews

In [60]:
korean_air_reviews = []
total_pages = 60
for page_number in range(1, total_pages + 1):
    page_reviews = scrape_page_KA(page_number)
    korean_air_reviews.extend(page_reviews)

    # Print progress message
    if page_number % 10 == 0:
        print(f"{page_number} pages extraction completed")

10 pages extraction completed
20 pages extraction completed
30 pages extraction completed
40 pages extraction completed
50 pages extraction completed
60 pages extraction completed

In [61]:
korean_air_reviews_df = pd.DataFrame(korean_air_reviews)

#8. Air France

In [62]:
def scrape_page_AF(page_number):
    url = f'https://www.airlinequality.com/airline-reviews/air-france/page/{page_number}/'
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    reviews = []
    for review_block in soup.find_all('article', itemprop='review'):  # use the full review container
        name_tag = review_block.find('span', itemprop='name')
        date_tag = review_block.find('time', itemprop='datePublished')
        text_content_div = review_block.find('div', class_='text_content')
        rating_tag = review_block.find('span', itemprop='ratingValue')

        # Extract review details with error handling
        name = name_tag.text.strip() if name_tag else 'N/A'
        date_published = date_tag['datetime'] if date_tag else 'N/A'
        text_content = text_content_div.text.strip() if text_content_div else 'N/A'
        rating = rating_tag.get_text(strip=True) if rating_tag else 'N/A'

        # Append extracted data to the list
        reviews.append({
            'Name': name,
            'Date Published': date_published,
            'Text Content': text_content,
            'Rating': rating
        })

    return reviews

In [63]:
air_france_reviews = []
total_pages = 146
for page_number in range(1, total_pages + 1):
    page_reviews = scrape_page_AF(page_number)
    air_france_reviews.extend(page_reviews)

    # Print progress message
    if page_number % 10 == 0:
        print(f"{page_number} pages extraction completed")

10 pages extraction completed
20 pages extraction completed
30 pages extraction completed
40 pages extraction completed
50 pages extraction completed
60 pages extraction completed
70 pages extraction completed
80 pages extraction completed
90 pages extraction completed
100 pages extraction completed
110 pages extraction completed
120 pages extraction completed
130 pages extraction completed
140 pages extraction completed

In [64]:
air_france_reviews_df = pd.DataFrame(air_france_reviews)

#9. Japan Airlines

In [65]:
def scrape_page_JA(page_number):
    url = f'https://www.airlinequality.com/airline-reviews/japan-airlines/page/{page_number}/'
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    reviews = []
    for review_block in soup.find_all('article', itemprop='review'):  # use the full review container
        name_tag = review_block.find('span', itemprop='name')
        date_tag = review_block.find('time', itemprop='datePublished')
        text_content_div = review_block.find('div', class_='text_content')
        rating_tag = review_block.find('span', itemprop='ratingValue')

        # Extract review details with error handling
        name = name_tag.text.strip() if name_tag else 'N/A'
        date_published = date_tag['datetime'] if date_tag else 'N/A'
        text_content = text_content_div.text.strip() if text_content_div else 'N/A'
        rating = rating_tag.get_text(strip=True) if rating_tag else 'N/A'

        # Append extracted data to the list
        reviews.append({
            'Name': name,
            'Date Published': date_published,
            'Text Content': text_content,
            'Rating': rating
        })

    return reviews

In [66]:
japan_airlines_reviews = []
total_pages = 44
for page_number in range(1, total_pages + 1):
    page_reviews = scrape_page_JA(page_number)
    japan_airlines_reviews.extend(page_reviews)

    # Print progress message
    if page_number % 10 == 0:
        print(f"{page_number} pages extraction completed")

10 pages extraction completed
20 pages extraction completed
30 pages extraction completed
40 pages extraction completed

In [67]:
japan_airlines_reviews_df = pd.DataFrame(japan_airlines_reviews)

#10. Hainan Airlines

In [68]:
def scrape_page_HA(page_number):
    url = f'https://www.airlinequality.com/airline-reviews/hainan-airlines/page/{page_number}/'
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    reviews = []
    for review_block in soup.find_all('article', itemprop='review'):  # use the full review container
        name_tag = review_block.find('span', itemprop='name')
        date_tag = review_block.find('time', itemprop='datePublished')
        text_content_div = review_block.find('div', class_='text_content')
        rating_tag = review_block.find('span', itemprop='ratingValue')

        # Extract review details with error handling
        name = name_tag.text.strip() if name_tag else 'N/A'
        date_published = date_tag['datetime'] if date_tag else 'N/A'
        text_content = text_content_div.text.strip() if text_content_div else 'N/A'
        rating = rating_tag.get_text(strip=True) if rating_tag else 'N/A'

        # Append extracted data to the list
        reviews.append({
            'Name': name,
            'Date Published': date_published,
            'Text Content': text_content,
            'Rating': rating
        })

    return reviews

In [69]:
hainan_airlines_reviews = []
total_pages = 43
for page_number in range(1, total_pages + 1):
    page_reviews = scrape_page_HA(page_number)
    hainan_airlines_reviews.extend(page_reviews)

    # Print progress message
    if page_number % 10 == 0:
        print(f"{page_number} pages extraction completed")

10 pages extraction completed
20 pages extraction completed
30 pages extraction completed
40 pages extraction completed

In [70]:
hainan_airlines_reviews_df = pd.DataFrame(hainan_airlines_reviews)

Combining Datasets together

In [71]:
qatar_airways_reviews_df.insert(0, 'Airlines', 'qatar_airways')
singapore_airlines_reviews_df.insert(0, 'Airlines', 'singapore_airlines')
cathay_pacific_airways_reviews_df.insert(0, 'Airlines', 'cathay_pacific_airlines')
emirates_reviews_df.insert(0, 'Airlines', 'emirates')
ANA_reviews_df.insert(0, 'Airlines', 'all_nippon_airways')
turkish_airlines_reviews_df.insert(0, 'Airlines', 'turkish_airlines')
korean_air_reviews_df.insert(0, 'Airlines', 'korean_air')
air_france_reviews_df.insert(0, 'Airlines', 'air_france')
japan_airlines_reviews_df.insert(0, 'Airlines', 'japan_airlines')
hainan_airlines_reviews_df.insert(0, 'Airlines', 'hainan_airlines')

In [72]:
airlines_review = pd.concat([
    qatar_airways_reviews_df,
    singapore_airlines_reviews_df,
    cathay_pacific_airways_reviews_df,
    emirates_reviews_df,
    ANA_reviews_df,
    turkish_airlines_reviews_df,
    korean_air_reviews_df,
    air_france_reviews_df,
    japan_airlines_reviews_df,
    hainan_airlines_reviews_df
], axis=0, ignore_index=True)

In [73]:
airlines_review.sample(10)

,Airlines,Name,Date Published,Text Content,Rating
10706,turkish_airlines,R Allam,2017-04-25,✅ Verified Review | Istanbul to Izmir with Tur...,10
1589,qatar_airways,E Walynsk,2017-08-16,✅ Verified Review | Auckland to Warsaw via Do...,5
11068,turkish_airlines,Pierre Hamblenne,2015-12-11,This was a Turkish Airlines connection flight ...,1
10641,turkish_airlines,Anders Pedersen,2017-09-07,✅ Verified Review | Hong Kong - Istanbul - Co...,8
298,qatar_airways,Francesco Leonardi,2024-01-05,✅ Trip Verified | I booked a round-trip fligh...,1
6608,emirates,Andrea Spindel,2018-12-19,✅ Trip Verified | Brisbane to Nairobi via Dub...,4
1564,qatar_airways,Anders Pedersen,2017-10-03,✅ Verified Review | Copenhagen to Ho Chi Minh...,8
10124,turkish_airlines,Ed Harding,2019-09-05,✅ Trip Verified | Konya to London via Istanbul...,3
13671,air_france,Marilyn Suttle,2013-10-25,Flew LAX to Paris and on to Athens and back th...,8
4151,singapore_airlines,Casper Yap,2014-02-05,HKG-SIN-KUL. Older plane a bit dirty. IFE on t...,6

In [74]:
airlines_review.shape

(14602, 5)

In [75]:
airlines_review.to_csv('airlines_review.csv', index=False)