In [1]:
import pandas as pd

# Load data
url = 'https://raw.githubusercontent.com/DyanelLancea/Airline-Review-Sentiement-Analysis/refs/heads/master/airlines_review.csv'
df = pd.read_csv(url, index_col=0)

# Remove duplicates
df = df.drop_duplicates()

# Replace missing values with a placeholder (e.g., 'Unknown' for strings, 0 for numbers)
for col in df.columns:
    if df[col].dtype == 'O':  # Object type (string)
        df[col] = df[col].fillna('Unknown')
    else:
        df[col] = df[col].fillna("NA")

# Save cleaned data
# df.to_csv('airlines_review_cleaned.csv')

print("Data cleaned and saved to airlines_review_cleaned.csv")

df

Data cleaned and saved to airlines_review_cleaned.csv

,Name,Location,Date Published,Text Content,Seat Type,Seat Comfort,Cabin Staff Service,Food & Beverages,Inflight Entertainment,Value For Money,Recommended,Airlines,Ground Service,Wifi & Connectivity
0,Harry Aronowicz,2025,2025-08-31,✅ Trip Verified | Excellent flight. Super cr...,Boeing 777-200,NA,NA,NA,NA,5.0,False,british_airways,NA,NA
1,Harry Aronowicz,2025,2025-08-31,✅ Trip Verified | Flight left and arrived on ...,A319,NA,NA,NA,NA,5.0,False,british_airways,NA,NA
2,Sreina Ilyas,2025,2025-08-31,Not Verified | My friend and I were helped ...,A320,NA,NA,NA,NA,3.0,False,british_airways,NA,NA
3,W Johnson,2025,2025-08-28,✅ Trip Verified | As a regular flier in this r...,A320neo,NA,NA,NA,NA,1.0,False,british_airways,NA,NA
4,J Kamara,2025,2025-08-25,✅ Trip Verified | I've been a regular travel...,Business,NA,NA,NA,1.0,NA,Unknown,british_airways,NA,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13605,R Becker,2013,2013-10-13,SQ A380 SIN-SYD biz class. Young slightly diso...,Business Class,4.0,3.0,1.0,4.0,NA,Unknown,singapore_airlines,1.0,NA
13606,Eduardo Steger,2013,2013-10-10,Flew from LAX to Koh Samui via Narita and Sing...,Economy Class,4.0,5.0,4.0,5.0,NA,Unknown,singapore_airlines,5.0,NA
13607,G Wiseman,2013,2013-10-09,From Adelaide to Singapore and return in A330-...,Business Class,4.0,4.0,4.0,4.0,NA,Unknown,singapore_airlines,4.0,NA
13608,A Flynn,2013,2013-10-07,Flew Bali to LHR via Singapore on 4th Oct. Bal...,Economy Class,2.0,2.0,2.0,4.0,NA,Unknown,singapore_airlines,3.0,NA
13609,R Greenwood,2013,2013-10-07,SFO-INC on a B777-300ER. The legroom was ok no...,Economy Class,4.0,5.0,5.0,5.0,NA,Unknown,singapore_airlines,4.0,NA