In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from pathlib import Path

#1. Qatar Airways

In [3]:
def scrape_page_QA(page_number):
    url = f'https://www.airlinequality.com/airline-reviews/qatar-airways/page/{page_number}/'
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    reviews = []
    for review_block in soup.find_all('article', itemprop='review'):  # use the full review container
        name_tag = review_block.find('span', itemprop='name')
        date_tag = review_block.find('time', itemprop='datePublished')
        text_content_div = review_block.find('div', class_='text_content')
        rating_tag = review_block.find('span', itemprop='ratingValue')

        # Extract review details with error handling
        name = name_tag.text.strip() if name_tag else 'N/A'
        date_published = date_tag['datetime'] if date_tag else 'N/A'
        text_content = text_content_div.text.strip() if text_content_div else 'N/A'
        rating = rating_tag.get_text(strip=True) if rating_tag else 'N/A'

        # Append extracted data to the list
        reviews.append({
            'Name': name,
            'Date Published': date_published,
            'Text Content': text_content,
            'Rating': rating
        })

    return reviews

In [4]:
# Main loop to scrape multiple pages and track progress
qatar_airways_reviews = []
total_pages = 264
for page_number in range(1, total_pages + 1):
    page_reviews = scrape_page_QA(page_number)
    qatar_airways_reviews.extend(page_reviews)

    # Print progress message
    if page_number % 10 == 0:
        print(f"{page_number} pages extraction completed")

10 pages extraction completed
20 pages extraction completed
30 pages extraction completed
40 pages extraction completed
50 pages extraction completed
60 pages extraction completed
70 pages extraction completed
80 pages extraction completed
90 pages extraction completed
100 pages extraction completed
110 pages extraction completed
120 pages extraction completed
130 pages extraction completed
140 pages extraction completed
150 pages extraction completed
160 pages extraction completed
170 pages extraction completed
180 pages extraction completed
190 pages extraction completed
200 pages extraction completed
210 pages extraction completed
220 pages extraction completed
230 pages extraction completed
240 pages extraction completed
250 pages extraction completed
260 pages extraction completed

In [5]:
qatar_airways_reviews_df = pd.DataFrame(qatar_airways_reviews)

In [6]:
qatar_airways_reviews_df.sample(5)

,Name,Date Published,Text Content,Rating
816,Anders Pedersen,2021-08-23,✅ Trip Verified | Award ticket from KGL to CPH...,9
508,Michael Schade,2023-01-15,✅ Trip Verified | Check-in and security check ...,8
1971,Mingxiu Huang,2016-02-07,"Singapore to Paris via Doha, and Qatar Airways...",4
2306,M Khan,2015-01-19,Manchester-Doha sector.–While boarding had to ...,8
401,Michael Schade,2023-07-26,✅ Trip Verified | -I was informed three month ...,3

In [7]:
qatar_airways_reviews_df.shape

(2638, 4)

#2. Singapore Airlines

In [8]:
def scrape_page_SQ(page_number):
    url = f'https://www.airlinequality.com/airline-reviews/singapore-airlines/page/{page_number}/'
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    reviews = []
    for review_block in soup.find_all('article', itemprop='review'):  # use the full review container
        name_tag = review_block.find('span', itemprop='name')
        date_tag = review_block.find('time', itemprop='datePublished')
        text_content_div = review_block.find('div', class_='text_content')
        rating_tag = review_block.find('span', itemprop='ratingValue')

        # Extract review details with error handling
        name = name_tag.text.strip() if name_tag else 'N/A'
        date_published = date_tag['datetime'] if date_tag else 'N/A'
        text_content = text_content_div.text.strip() if text_content_div else 'N/A'
        rating = rating_tag.get_text(strip=True) if rating_tag else 'N/A'

        # Append extracted data to the list
        reviews.append({
            'Name': name,
            'Date Published': date_published,
            'Text Content': text_content,
            'Rating': rating
        })

    return reviews

In [9]:
singapore_airlines_reviews = []
total_pages = 167
for page_number in range(1, total_pages + 1):
    page_reviews = scrape_page_SQ(page_number)
    singapore_airlines_reviews.extend(page_reviews)

    # Print progress message
    if page_number % 10 == 0:
        print(f"{page_number} pages extraction completed")

10 pages extraction completed
20 pages extraction completed
30 pages extraction completed
40 pages extraction completed
50 pages extraction completed
60 pages extraction completed
70 pages extraction completed
80 pages extraction completed
90 pages extraction completed
100 pages extraction completed
110 pages extraction completed
120 pages extraction completed
130 pages extraction completed
140 pages extraction completed
150 pages extraction completed
160 pages extraction completed

In [10]:
singapore_airlines_reviews_df = pd.DataFrame(singapore_airlines_reviews)

In [11]:
singapore_airlines_reviews_df.sample(5)

,Name,Date Published,Text Content,Rating
876,W Khan,2017-09-16,✅ Verified Review | Dhaka to Singapore in eco...,10
448,W Teale,2020-01-26,✅ Trip Verified | Upon attempting to return t...,1
995,Steve Siauw,2016-12-30,✅ Verified Review | Tokyo to Jakarta via Sing...,6
736,G Paulson,2018-08-31,✅ Trip Verified | Singapore to Hong Kong. New ...,4
425,W Manarlo,2020-03-07,✅ Trip Verified | Makassar to Singapore. It t...,8

In [12]:
singapore_airlines_reviews_df.shape

(1670, 4)

#3. Cathay Pacific Airways

In [13]:
def scrape_page_CP(page_number):
    url = f'https://www.airlinequality.com/airline-reviews/cathay-pacific-airways/page/{page_number}/'
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    reviews = []
    for review_block in soup.find_all('article', itemprop='review'):  # use the full review container
        name_tag = review_block.find('span', itemprop='name')
        date_tag = review_block.find('time', itemprop='datePublished')
        text_content_div = review_block.find('div', class_='text_content')
        rating_tag = review_block.find('span', itemprop='ratingValue')

        # Extract review details with error handling
        name = name_tag.text.strip() if name_tag else 'N/A'
        date_published = date_tag['datetime'] if date_tag else 'N/A'
        text_content = text_content_div.text.strip() if text_content_div else 'N/A'
        rating = rating_tag.get_text(strip=True) if rating_tag else 'N/A'

        # Append extracted data to the list
        reviews.append({
            'Name': name,
            'Date Published': date_published,
            'Text Content': text_content,
            'Rating': rating
        })

    return reviews

In [14]:
cathay_pacific_airways_reviews = []
total_pages = 151
for page_number in range(1, total_pages + 1):
    page_reviews = scrape_page_CP(page_number)
    cathay_pacific_airways_reviews.extend(page_reviews)

    # Print progress message
    if page_number % 10 == 0:
        print(f"{page_number} pages extraction completed")

10 pages extraction completed
20 pages extraction completed
30 pages extraction completed
40 pages extraction completed
50 pages extraction completed
60 pages extraction completed
70 pages extraction completed
80 pages extraction completed
90 pages extraction completed
100 pages extraction completed
110 pages extraction completed
120 pages extraction completed
130 pages extraction completed
140 pages extraction completed
150 pages extraction completed

In [15]:
cathay_pacific_airways_reviews_df = pd.DataFrame(cathay_pacific_airways_reviews)

In [16]:
cathay_pacific_airways_reviews_df.sample(5)

,Name,Date Published,Text Content,Rating
462,J Chen,2018-06-03,✅ Trip Verified | Manila to Hong Kong. Cathay...,5
45,Philippe Gimenez,2024-12-01,✅ Trip Verified | I'm deeply upset about the...,2
969,Alison Chambers,2015-10-15,The food on Cathay Pacific Airways was truly a...,3
1472,Charles Hamilton,2013-10-02,I flew business from LHR to HKG and HKG to Mel...,8
230,C Owen,2019-11-11,Not Verified | London to Manila via Hong Kong...,10

In [17]:
cathay_pacific_airways_reviews_df.shape

(1508, 4)

#4. Emirates

In [18]:
def scrape_page_EM(page_number):
    url = f'https://www.airlinequality.com/airline-reviews/emirates/page/{page_number}/'
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    reviews = []
    for review_block in soup.find_all('article', itemprop='review'):  # use the full review container
        name_tag = review_block.find('span', itemprop='name')
        date_tag = review_block.find('time', itemprop='datePublished')
        text_content_div = review_block.find('div', class_='text_content')
        rating_tag = review_block.find('span', itemprop='ratingValue')

        # Extract review details with error handling
        name = name_tag.text.strip() if name_tag else 'N/A'
        date_published = date_tag['datetime'] if date_tag else 'N/A'
        text_content = text_content_div.text.strip() if text_content_div else 'N/A'
        rating = rating_tag.get_text(strip=True) if rating_tag else 'N/A'

        # Append extracted data to the list
        reviews.append({
            'Name': name,
            'Date Published': date_published,
            'Text Content': text_content,
            'Rating': rating
        })

    return reviews

In [19]:
emirates_reviews = []
total_pages = 247
for page_number in range(1, total_pages + 1):
    page_reviews = scrape_page_EM(page_number)
    emirates_reviews.extend(page_reviews)

    # Print progress message
    if page_number % 10 == 0:
        print(f"{page_number} pages extraction completed")

10 pages extraction completed
20 pages extraction completed
30 pages extraction completed
40 pages extraction completed
50 pages extraction completed
60 pages extraction completed
70 pages extraction completed
80 pages extraction completed
90 pages extraction completed
100 pages extraction completed
110 pages extraction completed
120 pages extraction completed
130 pages extraction completed
140 pages extraction completed
150 pages extraction completed
160 pages extraction completed
170 pages extraction completed
180 pages extraction completed
190 pages extraction completed
200 pages extraction completed
210 pages extraction completed
220 pages extraction completed
230 pages extraction completed
240 pages extraction completed

In [20]:
emirates_reviews_df = pd.DataFrame(emirates_reviews)

In [21]:
emirates_reviews_df.sample(5)

,Name,Date Published,Text Content,Rating
953,Rajah Koppala,2018-04-23,✅ Trip Verified | Hyderabad to New York via D...,3
100,T Keen,2024-05-07,✅ Trip Verified | I’ve flown Emirates a few t...,2
2106,A Jones,2014-09-17,LHR-DXB-BKK / BKK-DXB-LHR. My first experience...,10
249,Advay Biswal,2023-01-23,✅ Trip Verified | The airline was very good. T...,10
1364,K Hazil,2016-10-19,✅ Verified Review | Washington to Dubai. I ar...,8

In [22]:
emirates_reviews_df.shape

(2464, 4)

#5.ANA All Nippon Airways

In [23]:
def scrape_page_ANA(page_number):
    url = f'https://www.airlinequality.com/airline-reviews/ana-all-nippon-airways/page/{page_number}/'
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    reviews = []
    for review_block in soup.find_all('article', itemprop='review'):  # use the full review container
        name_tag = review_block.find('span', itemprop='name')
        date_tag = review_block.find('time', itemprop='datePublished')
        text_content_div = review_block.find('div', class_='text_content')
        rating_tag = review_block.find('span', itemprop='ratingValue')

        # Extract review details with error handling
        name = name_tag.text.strip() if name_tag else 'N/A'
        date_published = date_tag['datetime'] if date_tag else 'N/A'
        text_content = text_content_div.text.strip() if text_content_div else 'N/A'
        rating = rating_tag.get_text(strip=True) if rating_tag else 'N/A'

        # Append extracted data to the list
        reviews.append({
            'Name': name,
            'Date Published': date_published,
            'Text Content': text_content,
            'Rating': rating
        })

    return reviews

In [24]:
ANA_reviews = []
total_pages = 62
for page_number in range(1, total_pages + 1):
    page_reviews = scrape_page_ANA(page_number)
    ANA_reviews.extend(page_reviews)

    # Print progress message
    if page_number % 10 == 0:
        print(f"{page_number} pages extraction completed")

10 pages extraction completed
20 pages extraction completed
30 pages extraction completed
40 pages extraction completed
50 pages extraction completed
60 pages extraction completed

In [25]:
ANA_reviews_df = pd.DataFrame(ANA_reviews)

In [26]:
ANA_reviews_df.sample(5)

,Name,Date Published,Text Content,Rating
360,G Brambilla,2015-06-06,HND - OKA economy 24 May 2015 NH479. The fligh...,5
510,L Andres,2013-01-30,Took ANA from SEA-NRT-MNL and back. Flight fro...,5
100,Ronny Adriansyah,2021-02-05,✅ Trip Verified | Flew ANA Tokyo Narita - Jaka...,8
599,A Moon,2010-06-10,ANA failed to alert passengers about its cance...,N/A
180,S Vana,2018-06-21,✅ Trip Verified | Our flight from Hiroshima t...,10

In [27]:
ANA_reviews_df.shape

(620, 4)

#6. Turkish Airlines

In [28]:
def scrape_page_Turk(page_number):
    url = f'https://www.airlinequality.com/airline-reviews/turkish-airlines/page/{page_number}/'
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    reviews = []
    for review_block in soup.find_all('article', itemprop='review'):  # use the full review container
        name_tag = review_block.find('span', itemprop='name')
        date_tag = review_block.find('time', itemprop='datePublished')
        text_content_div = review_block.find('div', class_='text_content')
        rating_tag = review_block.find('span', itemprop='ratingValue')

        # Extract review details with error handling
        name = name_tag.text.strip() if name_tag else 'N/A'
        date_published = date_tag['datetime'] if date_tag else 'N/A'
        text_content = text_content_div.text.strip() if text_content_div else 'N/A'
        rating = rating_tag.get_text(strip=True) if rating_tag else 'N/A'

        # Append extracted data to the list
        reviews.append({
            'Name': name,
            'Date Published': date_published,
            'Text Content': text_content,
            'Rating': rating
        })

    return reviews

In [29]:
turkish_airlines_reviews = []
total_pages = 280
for page_number in range(1, total_pages + 1):
    page_reviews = scrape_page_Turk(page_number)
    turkish_airlines_reviews.extend(page_reviews)

    # Print progress message
    if page_number % 10 == 0:
        print(f"{page_number} pages extraction completed")

10 pages extraction completed
20 pages extraction completed
30 pages extraction completed
40 pages extraction completed
50 pages extraction completed
60 pages extraction completed
70 pages extraction completed
80 pages extraction completed
90 pages extraction completed
100 pages extraction completed
110 pages extraction completed
120 pages extraction completed
130 pages extraction completed
140 pages extraction completed
150 pages extraction completed
160 pages extraction completed
170 pages extraction completed
180 pages extraction completed
190 pages extraction completed
200 pages extraction completed
210 pages extraction completed
220 pages extraction completed
230 pages extraction completed
240 pages extraction completed
250 pages extraction completed
260 pages extraction completed
270 pages extraction completed
280 pages extraction completed

In [30]:
turkish_airlines_reviews_df = pd.DataFrame(turkish_airlines_reviews)

In [31]:
turkish_airlines_reviews_df.sample(5)

,Name,Date Published,Text Content,Rating
2372,S Northcote,2015-04-24,First time travelling with Turkish Airlines I ...,2
1352,Jim Burt,2019-03-14,Not Verified | New York to Tel Aviv via Istan...,1
2777,T Foran,2013-10-07,YYZ-IST-YYZ. Turkish is inconsistent. Business...,7
516,S Maris,2023-04-10,✅ Trip Verified | After booking and paying ext...,1
663,P Engle,2022-06-13,✅ Trip Verified | San Francisco to Tehran via ...,1

In [32]:
turkish_airlines_reviews_df.shape

(2800, 4)

#7. Korean Air

In [33]:
def scrape_page_KA(page_number):
    url = f'https://www.airlinequality.com/airline-reviews/korean-air/page/{page_number}/'
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    reviews = []
    for review_block in soup.find_all('article', itemprop='review'):  # use the full review container
        name_tag = review_block.find('span', itemprop='name')
        date_tag = review_block.find('time', itemprop='datePublished')
        text_content_div = review_block.find('div', class_='text_content')
        rating_tag = review_block.find('span', itemprop='ratingValue')

        # Extract review details with error handling
        name = name_tag.text.strip() if name_tag else 'N/A'
        date_published = date_tag['datetime'] if date_tag else 'N/A'
        text_content = text_content_div.text.strip() if text_content_div else 'N/A'
        rating = rating_tag.get_text(strip=True) if rating_tag else 'N/A'

        # Append extracted data to the list
        reviews.append({
            'Name': name,
            'Date Published': date_published,
            'Text Content': text_content,
            'Rating': rating
        })

    return reviews

In [34]:
korean_air_reviews = []
total_pages = 60
for page_number in range(1, total_pages + 1):
    page_reviews = scrape_page_KA(page_number)
    korean_air_reviews.extend(page_reviews)

    # Print progress message
    if page_number % 10 == 0:
        print(f"{page_number} pages extraction completed")

10 pages extraction completed
20 pages extraction completed
30 pages extraction completed
40 pages extraction completed
50 pages extraction completed
60 pages extraction completed

In [35]:
korean_air_reviews_df = pd.DataFrame(korean_air_reviews)

#8. Air France

In [36]:
def scrape_page_AF(page_number):
    url = f'https://www.airlinequality.com/airline-reviews/air-france/page/{page_number}/'
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    reviews = []
    for review_block in soup.find_all('article', itemprop='review'):  # use the full review container
        name_tag = review_block.find('span', itemprop='name')
        date_tag = review_block.find('time', itemprop='datePublished')
        text_content_div = review_block.find('div', class_='text_content')
        rating_tag = review_block.find('span', itemprop='ratingValue')

        # Extract review details with error handling
        name = name_tag.text.strip() if name_tag else 'N/A'
        date_published = date_tag['datetime'] if date_tag else 'N/A'
        text_content = text_content_div.text.strip() if text_content_div else 'N/A'
        rating = rating_tag.get_text(strip=True) if rating_tag else 'N/A'

        # Append extracted data to the list
        reviews.append({
            'Name': name,
            'Date Published': date_published,
            'Text Content': text_content,
            'Rating': rating
        })

    return reviews

In [37]:
air_france_reviews = []
total_pages = 146
for page_number in range(1, total_pages + 1):
    page_reviews = scrape_page_AF(page_number)
    air_france_reviews.extend(page_reviews)

    # Print progress message
    if page_number % 10 == 0:
        print(f"{page_number} pages extraction completed")

10 pages extraction completed
20 pages extraction completed
30 pages extraction completed
40 pages extraction completed
50 pages extraction completed
60 pages extraction completed
70 pages extraction completed
80 pages extraction completed
90 pages extraction completed
100 pages extraction completed
110 pages extraction completed
120 pages extraction completed
130 pages extraction completed
140 pages extraction completed

In [38]:
air_france_reviews_df = pd.DataFrame(air_france_reviews)

#9. Japan Airlines

In [39]:
def scrape_page_JA(page_number):
    url = f'https://www.airlinequality.com/airline-reviews/japan-airlines/page/{page_number}/'
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    reviews = []
    for review_block in soup.find_all('article', itemprop='review'):  # use the full review container
        name_tag = review_block.find('span', itemprop='name')
        date_tag = review_block.find('time', itemprop='datePublished')
        text_content_div = review_block.find('div', class_='text_content')
        rating_tag = review_block.find('span', itemprop='ratingValue')

        # Extract review details with error handling
        name = name_tag.text.strip() if name_tag else 'N/A'
        date_published = date_tag['datetime'] if date_tag else 'N/A'
        text_content = text_content_div.text.strip() if text_content_div else 'N/A'
        rating = rating_tag.get_text(strip=True) if rating_tag else 'N/A'

        # Append extracted data to the list
        reviews.append({
            'Name': name,
            'Date Published': date_published,
            'Text Content': text_content,
            'Rating': rating
        })

    return reviews

In [40]:
japan_airlines_reviews = []
total_pages = 44
for page_number in range(1, total_pages + 1):
    page_reviews = scrape_page_JA(page_number)
    japan_airlines_reviews.extend(page_reviews)

    # Print progress message
    if page_number % 10 == 0:
        print(f"{page_number} pages extraction completed")

10 pages extraction completed
20 pages extraction completed
30 pages extraction completed
40 pages extraction completed

In [41]:
japan_airlines_reviews_df = pd.DataFrame(japan_airlines_reviews)

#10. Hainan Airlines

In [42]:
def scrape_page_HA(page_number):
    url = f'https://www.airlinequality.com/airline-reviews/hainan-airlines/page/{page_number}/'
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    reviews = []
    for review_block in soup.find_all('article', itemprop='review'):  # use the full review container
        name_tag = review_block.find('span', itemprop='name')
        date_tag = review_block.find('time', itemprop='datePublished')
        text_content_div = review_block.find('div', class_='text_content')
        rating_tag = review_block.find('span', itemprop='ratingValue')

        # Extract review details with error handling
        name = name_tag.text.strip() if name_tag else 'N/A'
        date_published = date_tag['datetime'] if date_tag else 'N/A'
        text_content = text_content_div.text.strip() if text_content_div else 'N/A'
        rating = rating_tag.get_text(strip=True) if rating_tag else 'N/A'

        # Append extracted data to the list
        reviews.append({
            'Name': name,
            'Date Published': date_published,
            'Text Content': text_content,
            'Rating': rating
        })

    return reviews

In [43]:
hainan_airlines_reviews = []
total_pages = 43
for page_number in range(1, total_pages + 1):
    page_reviews = scrape_page_HA(page_number)
    hainan_airlines_reviews.extend(page_reviews)

    # Print progress message
    if page_number % 10 == 0:
        print(f"{page_number} pages extraction completed")

10 pages extraction completed
20 pages extraction completed
30 pages extraction completed
40 pages extraction completed

In [44]:
hainan_airlines_reviews_df = pd.DataFrame(hainan_airlines_reviews)

Combining Datasets together

In [45]:
qatar_airways_reviews_df.insert(0, 'Airlines', 'qatar_airways')
singapore_airlines_reviews_df.insert(0, 'Airlines', 'singapore_airlines')
cathay_pacific_airways_reviews_df.insert(0, 'Airlines', 'cathay_pacific_airlines')
emirates_reviews_df.insert(0, 'Airlines', 'emirates')
ANA_reviews_df.insert(0, 'Airlines', 'all_nippon_airways')
turkish_airlines_reviews_df.insert(0, 'Airlines', 'turkish_airlines')
korean_air_reviews_df.insert(0, 'Airlines', 'korean_air')
air_france_reviews_df.insert(0, 'Airlines', 'air_france')
japan_airlines_reviews_df.insert(0, 'Airlines', 'japan_airlines')
hainan_airlines_reviews_df.insert(0, 'Airlines', 'hainan_airlines')

In [46]:
airlines_review = pd.concat([
    qatar_airways_reviews_df,
    singapore_airlines_reviews_df,
    cathay_pacific_airways_reviews_df,
    emirates_reviews_df,
    ANA_reviews_df,
    turkish_airlines_reviews_df,
    korean_air_reviews_df,
    air_france_reviews_df,
    japan_airlines_reviews_df,
    hainan_airlines_reviews_df
], axis=0, ignore_index=True)

In [47]:
airlines_review.sample(10)

,Airlines,Name,Date Published,Text Content,Rating
13801,japan_airlines,D Smith,2022-10-24,Not Verified | New business class Suite III i...,5
702,qatar_airways,Naeem Alzidi,2022-04-21,✅ Trip Verified | The service was good and th...,10
1485,qatar_airways,G Stanagoulis,2018-01-02,✅ Trip Verified | Doha to Athens in January 2...,9
10037,turkish_airlines,Bih Luh Hew,2019-12-09,✅ Trip Verified | Istanbul to Kuala Lumpur. B...,3
397,qatar_airways,Natalja Litvinova,2023-08-01,"✅ Trip Verified | Absolutely memorable trip, ...",10
13373,air_france,S Siauw,2015-06-25,A320 short haul London to Paris. Professional ...,8
2349,qatar_airways,Tercon Bojan,2014-11-11,Finally I get to fly on the Dreamliner! And Qa...,10
2433,qatar_airways,A Cianetti,2014-06-23,FCO-DOH-BKK and vice versa. Finally a new hub ...,3
5821,emirates,Val Marques,2025-09-02,"✅ Trip Verified | The flight was good, no pr...",3
13728,air_france,Emmanuel Cuignet,2013-07-22,CDG (2F) - NCE. The flight was in a newly refu...,8

In [48]:
airlines_review.shape

(14602, 5)

In [ ]:
airlines_review.to_csv('data/airlines_review.csv', index=False)